html {
    height: 100%;
}

body {
    font-family: "Avenir", Arial, Helvetica, sans-serif;
    margin-left: auto;
    margin-right: auto;
    font-size: 14pt;
    text-align: center;
    height: 100%;
    margin-bottom: 25px;
}

#name_card {
    display: table;
    margin: 30px auto 0 auto;
    text-align: center;
    font-size: 22pt;
    background-color: #EAEDFD;
    border-radius: 10px;
    padding: 10px 40px 10px 40px;
    box-shadow: 1px 1px 5px #535353;
}


#answer_sheet_button {
    display: table;
    margin: 30px auto 0 auto;
    text-align: center;
    font-size: 14pt;
    background-color: #29973E;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    padding: 10px 40px 10px 40px;
    box-shadow: 1px 1px 5px #535353;
}

#test_summary_card {
    display: inline-flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    font-weight: bold;
    justify-content: center;
    background-color: #EBF5FE;
    border-radius: 10px;
    padding: 10px 40px 10px 40px;
    box-shadow: 1px 1px 5px #535353;
}

#test_summary_card .percentage {
    margin-right: 20px;
    justify-content: center;
    align-items: center;
    background: orange;
    border-radius: 50%;
    /* -moz-border-radius:50%;
    -webkit-border-radius:50%; */
    text-align: center;
    padding: 5px;
    aspect-ratio: 1;
    display: flex;
    font-size: 20pt;
}

#test_summary_card .test_details {
    display: block;
    margin: auto;
    font-size: 22pt;
}

#section_heading {
    padding: 8px;
    font-size: 24pt;
    font-weight: bold;
    margin-top: 30px;
    text-transform: uppercase;
}

#score_details {
    border-collapse: collapse;
    padding: 0 30px 0 30px;
    margin-left: auto;
    margin-right: auto;
    table-layout: fixed;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 70%;
}

#score_details td {
    border: 1px solid #ddd;
    padding: 10px 20px 10px 20px;
    font-size: 22pt;
    text-align: center;
}

#score_details tr:first-child td {
    vertical-align: top;
    background-color: orange;
    color: black;
    font-weight: bold;
}

#score_detailstr:nth-child(even) {
    background-color: #FEFBEB;
}

#score_details tr:nth-child(odd) {
    background-color: orange;
}

#score_details tr:hover {
    background-color: #ddd;
}

/* FOOTER */

#main {
    min-height: 100%;
}

p {
    margin-bottom: 0;
    padding-bottom: 0;
}

#content {
    overflow: auto;
    padding-bottom: 60px;
    margin-bottom: 200px;
    /* must be same height as the footer */
}

#footer {
    position: relative;
    margin-top: -60px;
    /* negative value of footer height */
    height: 60px;
    clear: both;
}


.title {
    font-size: 36pt;
    padding: 10px;
}

.subtitle {
    font-size: 24pt;
    padding: 10px;
    margin-bottom: 20px;
}

#name_card {
    display: table;
    margin: 30px auto 0 auto;
    text-align: center;
    font-size: 22pt;
    background-color: #EAEDFD;
    border-radius: 10px;
    padding: 10px 40px 10px 40px;
    box-shadow: 1px 1px 5px #535353;
}
