{% extends "layout.html" %}
{% block title %}Live Session Report{% endblock %}

{% block content %}

<div id="report_header_card">
  <h1>{{ data["quizTitle"] }}</h1>
  {% if session_id %}
    <h2>Session ID: {{ session_id }}</h2>
  {% endif %}
</div>

<div id="total_stats_card">
  <h3>Total Unique Users: {{ data["totalSessions"] }}</h3>
</div>

<section id="daywise_performance">
  <div id="section_heading">Daywise Statistics</div>
  <table id="daywise_stats">
    <tr>
      <td>Date</td>
      <td>Unique Sessions</td>
    </tr>
    {% for stat in data["daywiseStats"] %}
    <tr>
      <td>{{ stat["date"] }}</td>
      <td>{{ stat["uniqueSessions"] }}</td>
    </tr>
    {% endfor %}
  </table>
</section>

{% endblock %}
