{% extends "layout.html" %}
{% block title %}Index{% endblock %}

{% block content %}

<div id="test_summary_card">
  <div class="test_details">
    <div>{{session_id}}</div>
  </div>
</div>

<section id="overall_performance">
  <div id="section_heading">Test Summary</div>

  <table id="score_details">
      <tr>
        <td>Number of Students:</td>
        <td>{{num_students}}</td>
      </tr>
      <tr>
        <td>Average Result:</td>
        <td>{{avg_result}}</td>
      </tr>
  </table>
</section>

{% endblock %}
