{% extends "layout.html" %}
{% block title %}Index{% endblock %}

{% block content %}

<div id="name_card">
  <p>Name: {{report_data["student_name"]}}
  <p>Student ID: {{report_data["student_id"]}}
</div>

<div id="test_summary_card">
  <div class="percentage"> {{report_data["score_details"]["percentage"]}}%</div>
  <div class="test_details">
    <div>{{report_data["quiz_date"]}}</div>
    <div>{{report_data["quiz_name"]}}</div>
  </div>
</div>

<section id="overall_performance">
  <div id="section_heading">Overall Performance</div>
  {% set score_details = report_data["score_details"] %}

  <table id="score_details">
    <tr>
      <td>Marks</td>
      <td>{{ score_details["score"]}} / {{score_details["max_marks"]}} </td>
    </tr>
    <tr>
      <td>Correct Answers</td>
      <td>{{ score_details["num_correct"] }} </td>
    </tr>
    <tr>
      <td>Incorrect Answers</td>
      <td>{{ score_details["num_incorrect"] }} </td>
    </tr>
    <tr>
      <td>Unattempted</td>
      <td>{{ score_details["num_skipped"] }} </td>
    </tr>
    <tr>
      <td>Topper Marks</td>
      <td>{{ score_details["highest_score"] }} </td>
    <tr>
      <td>Rank</td>
      <td>{{ score_details["rank"] }} </td>
    </tr>
    <tr>
      <td>Percentile</td>
      <td>{{ score_details["percentile"] }} </td>
    </tr>
  </table>
</section>

{% endblock %}