{% extends "layout.html" %}
{% block title %}Student Report{% endblock %}

{% block content %}

<div class="report-header">
  <h1>Report</h1>
  <div class="test-info">
    <h2>{{ report_data["test_name"] }}</h2>
    <p>Sub - {{ report_data["test_type"] }}</p>
  </div>
</div>

{% set score_details = report_data["overall_performance"]["table_data"] %}

{{ score_details}}
<div class="score-summary">
  <div class="score-block">
    <div class="score-title">Your Score</div>
    <div class="score-value">{{ score_details["Marks"] }}</div>
  </div>
  <div class="score-block">
    <div class="score-title">Target Score</div>
    <div class="score-value">{{ report_data["Max Marks"] }}</div>
  </div>
  <div class="score-block">
    <div class="score-title">Your Rank</div>
    <div class="score-value">{{ report_data["rank"] }}</div>
  </div>
  <div class="score-block">
    <div class="score-title">Batch Percentile</div>
    <div class="score-value">{{ report_data["percentile"] }}%</div>
  </div>
</div>

<div class="time-summary">
  <div class="time-block">
    <div class="time-title">Total Time Taken</div>
    <div class="time-value">{{ report_data["total_time"] }}</div>
  </div>
</div>

<a class="review-button" target="_blank" href="{{ report_data["test_link"] }}">Review Test</a>

<div class="subject-performance">
  {% for subject in report_data["subjects"] %}
  <div class="subject-block">
    <div class="subject-title">{{ subject["name"] }}</div>
    <div class="subject-details">
      <div>Your Score: {{ subject["score"] }}</div>
      <div>Attempt %: {{ subject["attempt_percentage"] }}</div>
      <div>Accuracy %: {{ subject["accuracy"] }}</div>
    </div>
  </div>
  {% endfor %}
</div>

<div class="chapter-performance">
  <h3>Chapter Name</h3>
  {% for chapter in report_data["chapters"] %}
  <div class="chapter-block">
    <div>Score: {{ chapter["score"] }}</div>
    <div>% Weightage: {{ chapter["weightage"] }}</div>
    <div># Questions: {{ chapter["question_count"] }}</div>
    <div>Attempt %: {{ chapter["attempt_percentage"] }}</div>
    <div>Accuracy %: {{ chapter["accuracy"] }}</div>
  </div>
  {% endfor %}
</div>

{% endblock %}
